<footer class="footer" id="contact">
  <div class="container container--small">
    {{ if eq (relURL .URL) ("/contact/" | safeHTML) }}
    {{ else }}
      <h1 class="section-title light-title">Get in touch!</h1>
      <p class="double">Whether you need to create a new product from scratch, drastically improve a product or give your team an innovative kick, DCUBED has you covered.</p>
      {{- partial "contact-form.html" . -}}
    {{ end }}
  </div>
</footer>
<script src="/js/page.js"></script>
