<div class="header" id="header">
  <div class="header__wrap">
    <div class="header__logo">
      <div class="dcubed-wrap">
        <div class="dcubed">
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
        </div>
        <div class="dcubed-border"></div>
        <h1 class="dcubed-title">
          <span>D</span>
          <span>C</span>
          <span>U</span>
          <span>B</span>
          <span>E</span>
          <span>D</span>
        </h1>
      </div>
    </div>
    <div class="intro">
      <h1 class="intro__title huge light-title">Great products, <br class="mobile-only" /> no silly business.</h1>
      <h2 class="intro__subtitle light-title">Our talented team helps
        your business innovate faster than ever</h2>
      <a href="#contact" id="cta" class="btn btn--large">Request a call</a>
    </div>
  </div>
  <div class="header__footer">
    <div class="header__more" id="header-more">
      See what we've done
      <i class="fas fa-arrow-down header__arrow"></i>
    </div>
  </div>
</div>
{{- partial "nav.html" . -}}
