<div class="header" id="header">
  <div class="header__wrap">
    <div class="header__logo">
      <div class="dcubed-wrap">
        <div class="dcubed">
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
          <div class="dcubed__cube"></div>
        </div>
        <div class="dcubed-border"></div>
        <h1 class="dcubed-title">
          <span>D</span>
          <span>C</span>
          <span>U</span>
          <span>B</span>
          <span>E</span>
          <span>D</span>
        </h1>
      </div>
    </div>
    <div class="intro">
      <h1 class="intro__title huge light-title">Dream. Design. Develop.</h1>
      <h3 class="intro__subtitle light-title">Our talented team help
        your business innovate quicker than ever</h3>
      <a href="#contact" id="cta" class="btn btn--large">Request a call</a>
    </div>
  </div>
</div>
{{- partial "nav.html" . -}}
