<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
  <link
    href="https://fonts.googleapis.com/css?family=Audiowide|Roboto:300,700,900|Raleway:800&amp;display=fallback" rel="stylesheet">
  <meta property="og:url"                content="{{ .Permalink }}" />
  <meta property="og:title"              content="{{ .Title }}" />
  <meta property="og:description"        content="{{ .Description }}" />
  <meta property="og:image"              content="{{ .Site.BaseURL }}dcubed-og.jpg" />
  <meta name="description" content="{{ .Description }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <link rel="shortcut icon" href="/icon.svg">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">
  <script>
    function redirectPageIfNeeded(canonicalURL) {
      // Extract protocol and host from canonical URL
      var regexp = new RegExp("(https?:)//([^/]+)");
      var matches = regexp.exec(canonicalURL);
      var canonicalProto = matches[1];
      var canonicalHost = matches[2];

      // Current browser URL
      var href = location.href;

      // Track whether we need to redirect the browser
      var hrefRedirect = false;

      // Perform protocol redirect?
      if (location.protocol.toLowerCase() !== canonicalProto) {
        href =
          canonicalProto + // new protocol
          href.substring(location.protocol.length); // host + path
        hrefRedirect = true;
      }

      // Perform hostname redirect?
      if (location.host.toLowerCase() !== canonicalHost) {
        var pos = href.indexOf(location.host);
        href =
          href.substring(0, pos) + // protocol
          canonicalHost + // new host
          href.substring(pos + location.host.length); // path
        hrefRedirect = true;
      }

      // Perform protocol and/or host redirect as required
      if (hrefRedirect) {
        location.href = href;
      }
    }

    if(window.location.hostname != "localhost") {
      redirectPageIfNeeded("https://www.dcubed.com.au/");
    }
  </script>
</head>
