<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
  <link
    href="https://fonts.googleapis.com/css?family=Audiowide|Roboto:300,700,900|Raleway:800&amp;display=fallback" rel="stylesheet">
  <meta property="og:url"                content="{{ .Permalink }}" />
  <meta property="og:title"              content="{{ .Title }}" />
  <meta property="og:description"        content="{{ .Description }}" />
  <meta property="og:image"              content="/dcubed-og.jpg" />
  <meta name="description" content="{{ .Description }}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <link rel="shortcut icon" href="/icon.svg">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-IIED/eyOkM6ihtOiQsX2zizxFBphgnv1zbe1bKA+njdFzkr6cDNy16jfIKWu4FNH" crossorigin="anonymous">
</head>
