<nav class="header__nav header__nav--inline" id="header-nav">
  <a class="header__nav-icon header__nav-icon--open toggle-nav">
    <i class="fas fa-bars"></i>
  </a>
  <a class="header__nav-icon header__nav-icon--close toggle-nav">
    <i class="fas fa-times"></i>
  </a>
  <a href="/design" class="header__nav-link">Design</a>
  <a href="/development" class="header__nav-link">Development</a>
  <a href="/about" class="header__nav-link">About</a>
  <a href="/blog" class="header__nav-link mobile-double">Blog</a>
  <a href="#contact" class="btn btn--secondary btn--light close-nav">Get in touch</a>
</nav>

