<div class="header header--slim" id="header">
  <a href="/" class="header__logo">
    <div class="dcubed-wrap">
      <div class="dcubed">
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
        <div class="dcubed__cube"></div>
      </div>
      <div class="dcubed-border"></div>
      <h1 class="dcubed-title">
        <span>D</span>
        <span>C</span>
        <span>U</span>
        <span>B</span>
        <span>E</span>
        <span>D</span>
      </h1>
    </div>
  </a>
</div>
{{- partial "nav.html" . -}}
