{{ define "header" }}
  {{- partial "slim-header.html" . -}}
{{ end }}
{{ define "main" }}
<div class="post-wrap">
  <div class="container">
    <h1 id="title" class="double">{{ .Title }}</h1>
    {{ if .Params.heroLargeUrl }}
      <div class="double">
        <img src="{{ .Params.heroLargeUrl }}" alt="" />
      </div>
    {{ end }}
    <article id="content">
      {{ if .Params.intro }}
        <p class="h3 double">{{ .Params.intro }}</p>
      {{ end }}
      {{ .Content }}
    </article>
    <aside id="meta">
      <div>
        <section class="post-meta">
          <p id="date">Published {{ .Date.Format "Mon Jan 2, 2006" }} </p>
          <p id="wordcount"> {{ .WordCount }} Words </p>
        </section>
        {{ with .Params.topics }}
        <ul id="topics">
          {{ range . }}
            <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
          {{ range . }}
          <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div>
        {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
      </div>
    </aside>
  </div>
</div>
{{ end }}
