{{ define "header" }}
  {{- partial "slim-header.html" . -}}
{{ end }}
{{ define "main" }}
  <main class="post-wrap">
    <div class="container">
      <article>
        <header>
          <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{ if .Params.intro }}
          <p class="h3 double">{{ .Params.intro }}</p>
        {{ end }}
        {{.Content}}
      </article>
      <ul class="posts-list">
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
        <li>
          <a class="post" href="{{ .Permalink }}">
            {{ if .Params.heroSmallUrl }}
              <div class="post__header" style="background-image: url({{ .Params.heroSmallUrl }})">
              </div>
            {{ end }}
            {{ if not .Params.heroSmallUrl }}
              <div class="post__header" style="background-image: url(post-1.jpeg)">
              </div>
            {{ end }}
            <div class="post__body">
              <h4>{{ .Title }}</h4>
              <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </main>
{{ end }}
