{{ define "header" }}
  {{- partial "slim-header.html" . -}}
{{ end }}
{{ define "main" }}
  <main class="post-wrap">
    <div class="container">
      <article>
        <header>
          <h1>{{.Title}}</h1>
        </header>
        {{ if .Description }}
          <p class="h3 double">{{ .Description }}</p>
        {{ end }}
        {{ if .Params.heroLargeUrl }}
          <div class="double">
            <img src="{{ .Params.heroLargeUrl }}" alt="" />
          </div>
        {{ end }}
        {{.Content}}
      </article>
    </div>
  </main>
  {{- partial "recent-posts.html" . -}}
{{ end }}
