{{ define "header" }}
  {{- partial "slim-header.html" . -}}
{{ end }}
{{ define "main" }}
<div class="post-wrap">
  <div class="container">
    <header class="post-header">
      <div class="post-header__text">
        <h1 id="title" class="post-title">{{ .Title }}</h1>
        <aside class="post-meta">
          <p id="date">Published {{ .Date.Format "Mon Jan 2, 2006" }} </p>
        </aside>
      </div>
      <a href="{{ .Params.siteUrl }}" class="btn btn--secondary post-header__btn" target="_blank">Visit Site</a>
    </header>
    {{ if .Params.heroLargeUrl }}
    <div class="double post-hero post-hero--{{ .Params.heroClass }}">
        <div class="post-hero__content">
          <img src="{{ .Params.heroLargeUrl }}" alt="" />
        </div>
      </div>
    {{ end }}
    {{ if .Description }}
      <p class="h3 double">{{ .Description }}</p>
    {{ end }}
    {{ if .Params.deliverables }}
      <h2 class="double">Deliverables</h2>
      {{ $list := (.Params.deliverables) }}
      {{ $len := (len $list) }}
      <ul class="deliverables deliverables--{{ $len }}">
        {{ range $list }}
          <li><i class="fal fa-{{ .icon }}"></i>{{ .text }}</li>
        {{ end }}
      </ul>
    {{ end }}
    <article id="content">
      {{ if .Params.intro }}
        <p class="h3 double">{{ .Params.intro }}</p>
      {{ end }}
      {{ .Content }}
    </article>
    <aside id="meta">
      <div>
        {{ with .Params.topics }}
        <ul id="topics">
          {{ range . }}
            <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        {{ with .Params.tags }}
        <ul id="tags">
          {{ range . }}
          <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </aside>
  </div>
</div>
{{ end }}
