{{ define "banner" }}
  <div></div>
{{ end }}
{{ define "header" }}
{{- partial "slim-header.html" . -}}
{{ end }}
{{ define "main" }}
<main class="post-wrap">
  <div class="container">
    <article>
      <header>
        <h1 class="double">{{.Title}}</h1>
      </header>
      {{ if .Description }}
      <p class="h3 double">{{ .Description | markdownify }}</p>
      {{ end }}
      {{ if .Params.heroLargeUrl }}
      <div class="double deeds-hero">
        <img src="{{ .Params.heroLargeUrl }}" alt="" />
      </div>
      {{ end }}
      {{- partial "contact-form.html" . -}}
      {{.Content}}
    </article>
  </div>
</main>
{{ end }}
