{{ define "main" }}
  <div class="main">
    <div class="container">
      <section class="section">
        <h1 class="section-title double">What we've worked on</h1>
        {{ $casestudy := .Site.Taxonomies.categories.casestudy  }}
			  {{ range ($casestudy.Pages) }}
          <div class="casestudy">
            <div class="casestudy__image" style='background-image: url({{ .Params.heroTall }})'>
            </div>
            <div class="casestudy__copy">
              <h2>{{ .Title }}</h2>
              <p class="double">{{ .Description }}</p>
              <h3>What we did</h3>
              <ul class="unstyled">
                {{ range .Params.deliverables }}
                  <li><i class="fal fa-{{ .icon }} deliver-icon"></i>{{ .text }}</li>
                {{ end }}
              </ul>
              <a href="{{ .Permalink }}" class="btn btn--secondary casestudy__btn">See Case Study</a>
            </div>
          </div>
        {{ end }}
      </section>
      <section class="section" id="what-we-do">
        <h1 class="section-title double">How we work</h1>
        <div class="how-we-work">
          <div class="how-we-work__img" id="proto-image">
            <img src="user.svg" alt="">
          </div>
          <div>
            <h2>We use rapid prototyping</h2>
            <p>What you won’t find us doing is spending weeks perfecting high quality design mocks. Making such serious investment and commitment to a design so early on is a flawed way to work.</p>
            <p>Instead, expect from us enough visual documentation to help convey an idea. Once we all feel like it’s the right choice. We start bringing the idea to life with code.</p>
            <p><a href="/design" class="btn btn--link">See how we design at DCUBED</a></p>
          </div>
        </div>
        <div class="how-we-work how-we-work--grow">
          <div class="how-we-work__img" id="heroku-image">
            <img src="heroku.svg" alt="" style="width: 170px">
          </div>
          <div>
            <h2>We ship fast, and ship often.</h2>
            <p>Using platforms like Heroku, we are able to create and host any kind of app in seconds.</p><p>Not only does this automated deployment process save time (money), it means you get a publically accessible link to your application upon kick off. You can now test and share with your own team, whenever we push a release.</p>
          </div>
        </div>
        <div class="how-we-work how-we-work--communicate">
          <div class="how-we-work__img" id="trello-image">
            <img src="tools.png" alt="">
          </div>
          <div>
            <h2>Get amongst it (or don't)</h2>
            <p>We create an environment of transparency and sharing so that you can see as much or as little as you want about the progress of your application.</p>
            <p>Upon kick-off you will receive an invite to your projects channel in the communication app Slack. In here you will see all ‘commits’ made to the code repository, the moderation of the Trello project board and any commentary made by the development team.</p>
          </div>
        </div>
        <div class="how-we-work how-we-work--grow" id="insight-image">
          <div class="how-we-work__img">
            <img src="lab.svg" alt="" style="width: 240px">
          </div>
          <div>
            <h2>Give insight for future opportunity</h2>
            <p>During project kick offs, we help determine the goals of your product. It's very important that once users start using your software, you are able to understand exactly how they are using it.</p>
            <p>With our measurements in place, the learnings can shape any future decisions you make. You will continue to get engagement reports as long as you choose. </p>
          </div>
        </div>
      </section>
    </div>
  </div>
{{ end }}
