<form method="POST" action="https://formspree.io/mgenelon" class="form form--deeds" id="deedsform">
  <div>
    <h3 class="text-center double">Who are you applying for?</h3>
    <div class="form__actions">
      <label class="btn btn--tab applicant-btn" for="firstName" id="yourself">Yourself</label>
      <label class="btn btn--tab applicant-btn" for="nomineeName" id="someoneelse">Someone else</label>
    </div>
  </div>
  <div class="form__content form__content--deeds form__content--hidden" id="deedFields">
    <div class="form__group form__group--nominee">
      <input type="email" id="nomineeName" name="nomineeName" placeholder="Nominees name" class="form__input">
    </div>
    <div class="form__group">
      <input type="text" id="firstName" name="name" placeholder="Your name" class="form__input"
                                                                                    required>
    </div>
    <div class="form__group">
      <input type="email" name="email" placeholder="Your email" class="form__input"
                                                                  required>
    </div>
    <div class="form__group">
      <textarea name="story" id="story" placeholder="How has COVID-19 affected you?" class="form__input" required></textarea>
    </div>
    <div class="form__group double">
      <textarea name="reason" id="reason" placeholder="How would a website help?" class="form__input" required></textarea>
    </div>
    <button class="btn btn--large btn--block" id="form-submit">Submit application</button>
  </div>
  <div class="form__success">
    <h2>Thanks for your enquiry</h2>
    <p>Someone from our team will reach out as soon possible. We look forward to speaking with you.</p>
    <p>- Jason from DCUBED</p>
  </div>
  <div class="form__error">
    <h2>Something wen't wrong</h2>
    <p>Not sure what happened here. You can try again or feel free to
    email us below.</p>
    <p>- Jason from DCUBED</p>
  </div>
</form>
